*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    color: $font-general;
}

body {
    min-height: 100vh;
    background-color: $second-color;
}
