// fade
.fade-enter-active,
.fade-leave-active {
    transition: opacity $animation-duration ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

// Loader/index.vue transition
.loader-component-enter-active {
    transform-origin: top;
    animation-name: expand;
    animation-duration: .3s;
}

.loader-component-leave-active {
    transform-origin: top;
    animation-name: expand;
    animation-duration: .3s;
    animation-direction: reverse;
}

@keyframes expand {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

// translate
.translate-enter-active,
.translate-leave-active {
    transition: all 0.5s ease;
}


.translate-enter-from,
.translate-leave-to {
    opacity: 0;
    transform: translateY(-40px);
}
